<div id="VLDB-Rolling" class="ConfItem  DM-conf " style="">
    <div class="row conf-row">
        <div class="col-6">
          <span class="conf-title">
              <a title="Deadline Details" href="/conference-calendar/conference?id=VLDB">VLDB Rolling Review</a>
          </span>
          <span class="conf-title-small">
              <a title="Deadline Details" href="/conference-calendar/conference?id=VLDB">VLDB Rolling Review</a>
          </span>
          <span class="conf-title-icon">
            <a title="Conference Website" href="http://vldb.org/pvldb" target="_blank"><img src="/conference-calendar/static/img/203-earth.svg" class="badge-link" alt="Link to Conference Website"></a>
            &ZeroWidthSpace;
            
            &ZeroWidthSpace;
          </span>
        </div>
        <div class="col-6">
          <span class="timer">1st of each month, 5:00 PM Pacific Time </span>
          <span class="timer-small"></span>
        </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="meta">
          <span class="conf-date"></span>
          <span class="conf-place">
            
            
          </span>
        </div>
        
        
  
      </div>
      <div class="col-12 col-sm-6">
        <div class="deadline">
        </div>
        <div class="calendar"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        
        <span title="Click to only show DB conferences" data-sub="DB" class="conf-sub DB-tag">database / big data</span>
        
        
        <span title="CORE Rating" class="conf-core">CORE: A*</span>
        <span title="BK21 Rating" class="conf-bk21">BK21: 4</span>
        <span title="SNU" class="conf-bk21">SNU Top Conf</span>
        
      </div>
    </div>
    <hr>
  </div>